/*
!/.gitignore
!/README.md
!/LICENSE
!/.github/
!/.github/**
!/wp-content/

/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/

/wp-content/themes/*
!/wp-content/themes/promokodiki/
!/wp-content/themes/promokodiki/**

/wp-content/plugins/*
!/wp-content/plugins/admitad-coupons/
!/wp-content/plugins/admitad-coupons/**

**/node_modules/
**/vendor/
**/.cache/
**/dist/
**/build/
**/coverage/
*.log
*.sql
*.sql.gz
*.sqlite
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
.env
.env.*
!.env.example

